@import "tailwindcss";

/* *,
*::before,
*::after {
  outline: 1px solid lime;
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.root {
  background-image: url(/assets/mobile/bg-pattern-header.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
@media (min-width: 640px) and (max-width: 1024px) {
  .root {
    background-image: url(/assets/tablet/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
  }
}

@media (min-width: 1025px) {
  .root {
    background-image: url(/assets/desktop/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
